*{
    padding: 0px;
    margin: 0px;
    font-family: "Ubuntu",sans-serif;
}

body{
   background-color: white;
   background-position: center;
   background-size: cover;
   
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    
    100% {  transform: rotate(360deg); }
  }
  
  .bolinha1 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    animation: spin 2s infinite linear;
    margin-right: 8px;
    border:2px solid white;
    border-top: 2px solid transparent;
    
  }
 
 

  
  
  
  
  .loading {
    padding-top: 10px;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  



.container{
    background-color: rgb(81, 9, 196);
    padding: 10px;
    border-radius: 14px;
    box-shadow: 0px 3px 8px black;
    color: #fdfdfd;
}

 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}
.containerinput{
    display:flex ;
}

/*area de pesquisa */
.inputtext{
    padding: 10px;
    border-radius: 14px;
    border: none;
    flex: 1;
}

/*botao */
.search{
    min-width: 50px;
    border-radius: 14px;
    border: none;
    margin-left: 5px;
    color: black;
    
    
}

.search:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.507);
}

/*clima */


#rees{
    
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}
.hidden{
    display: none;
}
span{
    margin: 5px;
}
i{
    font-size: 1rem;
}

.imgbandeira{
    height: 30px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0.4rem ;
    font-weight: bold;
    text-transform: capitalize;
}

.erro{
    border-top: 1px solid rgb(255, 255, 255);
    
    margin-top: 15px;
    text-align: center;
    padding: 10px;

}
.errohidden{
    display: none;
}

.umidade{
   margin-right: 5px;
   padding: 5px;
    border-right: 1px solid white;
}
.vento{
    margin-left: 5px;
    padding: 5px;
}

.description{
    font-size: 1rem;
}
.detalhes{
    display: flex;
    align-items: center;
    justify-content: center;
}